<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ _target.context.title }} | Preview</title>
  <link rel="stylesheet" type="text/css" href="/app.css"/>
</head>
<body>
{{{ yield }}}
<script src="/app.js"></script>
{{> @svg-sprite }}
</body>
</html>
