<!DOCTYPE html>
<html lang="en" class="no-vue">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{ _target.context.title }} | Page</title>
  <link rel="stylesheet" type="text/css" href="/app.css" />
</head>
<body>
    {{{ yield }}}
  <script src="/app.js"></script>
</body>
</html>
